.buttonColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
  box-sizing: border-box;
  padding-right: 256px;
}

.nameButton {
  background: transparent;
  outline: none;
  border: none;
  color: #3a3533;
  font-family: Roboto Slab;
  font-weight: 300;
  font-style: Light;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: -1px;
}

.container {
  display: flex;
  padding-left: 165px;
  padding-right: 165px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.chevronUp {
  height: 32.5px;
  width: 32px;
  transform: rotate(180deg);
}

.chevronDown {
  height: 32.5px;
  width: 32px;
}

.chevronButton {
  background: transparent;
  outline: none;
  border: none;
}

.active {
  color: #e81c24;
  font-family: Roboto Slab;
  font-weight: 400;
  font-style: Regular;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0px;
}

.gender {
  display: flex;
  flex-direction: row;
}

.category {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.categories {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c9c5b9;
}

.description {
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 30px;
  line-height: 55px;
  letter-spacing: 0px;
  vertical-align: middle;
  border-bottom: 1px solid #c9c5b9;
}

.relatedNameHeader {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.relatedNames {
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.info {
  width: 70%;
}

.nameListContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
}
